/* GLOBAL CSS */

* {
 margin: 0;
padding: 0%; 
box-sizing: border-box;
} 
html{
    font-size: 62.5%;


} 
h1{
    font-size: 2.5rem;

} 
#her{
    font-size: 4rem;
    font-weight: bold;
    color: white;

} 
#heri{
    font-size: 3rem;
    margin-top: -15px;
    font-weight: bold;
    color: white;

} 
li{
    font-size: 2rem;
    color: white;


} 
a{
    color: white ; 
    text-decoration: none;  
    
}
#nav{
    color: white; 
    text-decoration: none;
}
/* HEADER */  

.main-head{
     background:#BF3E22;
    color: white ; 

} 
nav{
     min-height: 10vh;
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 2rem;
    color: white;

}  
nav ul{
     display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    
}
#logo{
    flex: 2 1 40rem;
    

}
/* HERO */ 
.hero{
    min-height: 90vh;
    background-image: url("./coding.jpg"); 
    background-size: cover; 
    background-position: center; 
    color: #BF3E22;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.hero h3{
    padding: 4rem;
}
button , #btn{
    padding: 2rem 6rem; 
    background: black;
    color: aliceblue; 
    font-size: 1.8rem; 
    cursor: pointer;
    border: none;
    color: white; 
    text-decoration: none;
    
}

.container{
    display: flex;
    flex-direction: column;
    align-items:center ;
}
.container h3{
    padding-top:20px; 

    font-size: 3rem;
}
.cards{
    padding-top:40px; 
    display: flex;
    flex-direction: row;
    justify-content:center ;
    align-items: flex-start;
    text-align: center;
}

.cards p{
    padding-top:20px; 

    font-size: 2rem;
}
.cards span{
    font-size: 2rem;
    font-weight: bold;
}

#btn2{
    padding: 10px 30PX;
    font-size: large;
    border-radius: 10px;
    background-color: #BF3E22;
    color: white; 
    text-decoration: none;
}




